In [4]:
%load_ext autoreload
%autoreload 2

In [10]:
import pandas as pd
import numpy as np
import os
from my_utils import utils
from sklearn.linear_model import LinearRegression

In [6]:
os.getcwd()

'/Users/maycownmiranda/PycharmProjects/Econometrics_Coursera/Week 1'

In [7]:
df = pd.read_csv("dataset/TestExer1-holiday expenditures-round2.csv", sep="\t")

In [9]:
df.head(10)

   Observ.  Age  Expenditures
0        1   49            95
1        2   15           104
2        3   43            91
3        4   45            98
4        5   40            94
5        6   35           107
6        7   42            96
7        8   38           108
8        9   46            98
9       10   30           108

In [13]:
lr = LinearRegression().fit(X=df["Age"].values.reshape(-1, 1), y=df["Expenditures"])